/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.outer-div{
    width:80%;
    margin:auto;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  width:80%;
  margin:auto;
    background-color: darkslategrey;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    width: 50%;
    margin:auto;
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  
  
}
.carousel-item > img {
  float:center;
  top: 0;
  left: 0;
  width: 60%;
  display:block;
  
  height: 32rem;
}

img{
    float:center;
    width:60%;
    display: block;
    margin:auto;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing{
    text-align: justify;
    width:80%;
    margin:auto;
    display:block;
}
.collapsible-content__body-title{
    text-align: left;
    margin-top:2rem;
    margin-bottom: 2rem;
    }

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
#more {
  display: none;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


footer.container{
    bottom:0;
    text-align: justify;
    width:80%;
    display:block;
    
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

