Options -Indexes

AuthType Basic
AuthName "Admin"
AuthUserFile /Users/anthea/Desktop/Sites/DOVISLEX_PHP/privato/.htpasswd
Deny from user logout
Require user admin

<Files "login.php">
    Require user admin
</Files>

<Files "page1.php">
    Require user admin
</Files>

<Files "page2.php">
    Require user admin
</Files>

<Files "logout.php">
    Deny from user admin
    Require user logout   
</Files>



<Files "header.html">
    Deny from all
</Files>

<Files "footer.html">
    Deny from all
</Files>

<Files "navigation.html">
    Deny from all
</Files>

<Files "note">
    Deny from all
</Files>