
# Project files
# Exclude Caches directory
Caches/

# Exclude build and output directories (if desired)
build/
dist/


# Exclude nbproject directory and files
nbproject/
sandboxL/

# CSV files created by download script
FID*.csv 
lid*.csv

# macOS-specific files
.DS_Store


# Exclude .htaccess  .htaccess moved into htaccess+ folder to "tuck it away" and prevent local eecution
# Apache .htaccess file
.htaccess
htaccess+/